
{{#each posts}}
  <div class="wrap">
      <div class="article">
          <h2><a href="{{link}}">{{title}}</a><button class="btn btn-success">Save Article</button></h2>
          <p>{{description}}</p>
          
      </div>
      <div class="alert alert-primary" role="alert" style="display: none">
        Your article is saved!
      </div>
  </div>
{{/each}}

